div > a {
    color: black;
    font-weight: bold;
}

div > a:hover {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

a > div:hover {
    opacity: 0.7;
}
.truncate {
    width: 50%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
